<div class="container" style="margin-top: 30px">

  <hr>
  <div class="container">
    <img class="materialboxed" width="100%" src="assets/img/title.jpg">
  </div>
  <hr>

  <div class="row">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="dep" formControlName="departamento" type="text" class="form-control validate" [ngClass]="{ 'is-invalid': submitted && f.departamento.errors }" #departamento>
          <label for="dep">Departamento</label>
          <div *ngIf="submitted && f.departamento.errors" class="invalid-feedback red-text accent-4">
            <div *ngIf="f.departamento.errors.required">Departamento es obligatorio</div>
          </div>
        </div>
        <div class="input-field col s6">
          <input id="pro" formControlName="provincia" #provincia type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.departamento.errors }">
          <label for="pro">Provincia</label>
          <div *ngIf="submitted && f.provincia.errors" class="invalid-feedback red-text accent-4">
            <div *ngIf="f.provincia.errors.required">Provincia es obligatorio</div>
          </div>
        </div>
        <div class="input-field col s6">
          <input #distrito formControlName="distrito" id="dis" type="text" [ngClass]="{ 'is-invalid': submitted && f.departamento.errors }" class="form-control">
          <label for="dis">Distrito</label>
          <div *ngIf="submitted && f.distrito.errors" class="invalid-feedback red-text accent-4">
            <div *ngIf="f.distrito.errors.required">Distrito es obligatorio</div>
          </div>
        </div>
        <div class="input-field col s6">
          <input #edad maxlength="2" (keypress)="numberOnly($event)" formControlName="edad" id="edad" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.edad.errors }">
          <label for="edad">Edad</label>
          <div *ngIf="submitted && f.edad.errors" class="invalid-feedback red-text accent-4">
            <div *ngIf="f.edad.errors.required">Edad es obligatorio</div>
          </div>
        </div>
      </div>
        <div class="col-md-3 radio-vehicle">
        <label>Genero</label>
        <div>
          <p *ngFor="let d of _genero_; let idx = index">
            <label>
              <input class="with-gap" [checked]="(idx === 0)" (change)="radioChangeHandle($event)" value="{{d}}" name="group1" type="radio" />
              <span >{{d}}</span>
              <div *ngIf="mostrar"  class="invalid-feedback red-text accent-4">
                <div >Seleccione un item</div>
              </div>
            </label>

          </p>
        </div>
      </div>
      <!--</form>-->

      <!--  </div>-->
      <div class="row">
        <label>
          Sintomas
        </label>

        <div class="input-field col s12">
          <p>
            <label>
              <input type="checkbox" class="filled-in" name="toss" data-md-icheck (change)="tos($event)" />
              <span>Tos</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" class="filled-in" name="fiebre" data-md-icheck (change)="fiebre($event)" />
              <span>Fiebre</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" class="filled-in" name="escalofrios" data-md-icheck (change)="escalofrios($event)" />
              <span>Escalofrios</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" class="filled-in" name="fluidosnasales" (change)="fluidos($event)" />
              <span>Fluidos nasales</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" class="filled-in" name="dolorcabeza" (change)="dolorcabeza($event)" />
              <span>Dolor de cabeza</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" name="dolorespalda" class="filled-in" (change)="dolorespalda($event)" />
              <span>Dolor de espalda</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" class="filled-in" name="dificultadrespirar" (change)="dificultad($event)" />
              <span>Dificultad para respirar</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" class="filled-in" name="hustoolfato" (change)="perdidago($event)" />
              <span>Perdida del gusto y olfato</span>
            </label>
          </p>
        </div>
      </div>
      <!--<div class="container">
        <div class="row">
          <div class="col s6 input-field">
            <i class="material-icons prefix">wc</i>
            <select class="cboest" id="cboest" (change)="onGeneroSelected($event.target.value)" required>
              <option *ngFor="let p of listaGenero" [value]='p.id'>{{p.genero}}</option>
            </select>
          </div>
        </div>
      </div>-->
      <!--<div class="container">
        <div class="row">
          <div class="col s6 input-field">
            <i class="material-icons prefix">wc</i>
            <select class="cboest" id="cboest" required>
              <option value="">-- Seleccione genero --</option>
              <option value="1">Hombre</option>
              <option value="2">Mujer</option>
            </select>
          </div>
        </div>
      </div>-->
      <div class="container">
        <div class="row">
          <button class="grey darken-2 form-group center btn waves-effect waves-light" type="submit" name="action">Registrar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br><br><br><br>
